body {
  margin: 0;
  font-family: var(--vscode-font-family, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif);
  font-size: var(--vscode-editor-font-size, 14px);
  color: var(--vscode-editor-foreground);
  background: var(--vscode-editor-background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: var(--vscode-editor-font-family, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace);
}
